/* color pallet */
$dark-navy: #334554;
$light-blue: #C1DCF2;
$light-grey: #B1C1CE;
$medium-blue: #457EAC;
$white: #ffffff;
$pagination-border-color: #9CA3AA;

$table-background: #E3E9EF;

/* borders */
$border-radius: 3px;


