.deity-report {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .wrapper {
    width: 1024px;

    h1 {
      margin-bottom: 50px;
    }

    form {
      .form-group {
        margin-bottom: 30px;

        label {
          display: block;
          margin-bottom: 10px;
        }

        .form-control {
          border: 1px solid grey;
          padding: 15px 20px;
          width: 100%;
          border-radius: 2px;
        }

        #email-body {
          resize: vertical;
        }
      }
    }
  }
}
