@{
  Layout = "_Layout";
}

<div class="content-page">
  <header>
    <div class="breadcrumbs">
      <a asp-controller="Home" asp-action="Index" class="breadcrumb__item">Home</a> /
      <a asp-controller="Home" asp-action="About" class="breadcrumb__item">About YeGods</a>
    </div>
    <h1 class="deity-name h1__white">About YeGods</h1>
  </header>

  <section class="main-content">
    <p>WELCOME to the Ye Gods website.</p>

    <p>To catalogue the names of all the deities this world has ever known is an ambitious project and one doomed to failure – or rather, doomed never to achieve 100% success.</p>

    <p>I'd like, however, to see this website become the definitive reference point for people who find the name of a god, whether or not that deity is well known or fantastically obscure, and want to know a bit more about it: when, where and how it came into being, who worshipped it, what it was responsible for, who it was related to, who replaced it …</p>

    <p>The system I've adopted is to provide visitors with a forum in which they can point out omissions and make corrections, or even suggest better ways to phrase an entry. They can even suggest that I visit an authoritative source if I've missed an important pantheon (and this is not beyond the bounds of possibility – this is a big world, and its people and gods have been around for a long time, mostly hiding in corners).</p>

    <p>The rule is: a contributor must provide at least one authoritative citation to back up their addition/correction. Their contribution will be acknowledged in brackets at the end of the amended/added entry unless they'd prefer it not to be.</p>

    <p>I'd be happy to consider approaches from other deity-collectors in terms of amalgamation: this is the sort of huge project that would be better with two, three or more heads than with one.</p>

    <p>I began this work several years ago and in many instances failed to note at the time, or have forgotten, my sources. If you recognise your own material, please forgive and send me a reminder that I need to acknowledge your hard work as yours, not mine.</p>

    <p>A note about the Appendix. Inevitably this is a dumping-ground for generic terms like Orisha and Nymph, Mana and Seraph, and for terms that the professionals use and we don't, such as 'chthonic',  'tutelary' and 'numen'.</p>

    <p>BELIEF in supra-human forces has steered the course of human life since before the dawn of history. The history and descent of deities is a revealing way to study the history and descent of humanity itself. Indeed, I see it as offering a further perspective and colouration to human history, since tracing the path, development and disappearance of divinities can reveal the course of human aspirations and fears, its deeper motivations, its underlying thought processes, its changing mores, its migrations, assimilations, takeovers and purges, cultural disintegrations and reconstructions.</p>

    <p>Deities were, originally, inchoate entities that inhabited rocks, rivers, streams, trees, springs, animals, sometimes clouds and mountains. Their shape and characteristics were those of the thing they inhabited or guarded. They were the essence of those things. They may not, initially, have been seen as more powerful than the creatures that imagined them, and they certainly did not occupy other realms – Olympus, Valhalla or Heaven, for instance. They did not interact with each other or with the people that reverenced them. They were just different, belonging to another order of existence. They needed to be protected, revered and respected, kept apart, tended and propitiated.</p>

    <p>This primal or animistic approach to the mystery of life and what is imagined to be beyond and behind it is still the preferred religion of 200-300m people, from the Philippines and Oceania to the US, from Russia to South America, from Africa to Alaska.</p>

    <p>Most of these people hold strong beliefs in the spirit world, and that power – ‘mana’ in some Pacific Oceanic cultures, 'kami' in Shintoistic Japan, for instance – can be found in specific places, certain human skills, or in plants and animals. But this animistic belief can include belief in spirits with higher powers, which by western theo-analytical standards could be called gods – of fishing, hunting, the weather, sex, war or metalworking, crops or a season. In most primal religions, there is a high god, very often a sky-god, a supreme being who may not be worshipped in temples. He or she is more likely to be a solar than a lunar deity.</p>

    <p>Research emerging from the cradle of western civilisation, Anatolia or Asia Minor, suggests that in Palaeolithic times a huge step towards the present was the moment we perceived ourselves as being able to control these animistic spirits by means of sanctuaries and ceremonies. The discoveries at Göbekli Tepe, in south-east Turkey, whose earliest monoliths are probably 15,000 years old, are presently subject to speculation, some of it wildly unsubstantiated. But it's a fair bet that in some broad sense, this was a religious site, and clearly one to which our ancestors felt obliged to devote significant resources.</p>

    <p>Primal worshippers tend to believe that the dead live on, very often as guardians of the living; they believe in myths that explain creation, human life and nature’s phenomena; in fire (and sometimes wind or storm) as a divine attribute; in prayer and offerings to the gods, most often by harvested or animal sacrifice, but sometimes that of fellow humans; and in people specially chosen by divine powers to channel and interpret divine will – shamans, priests, medicine men.</p>

    <p>We tend to assume that all religions started out as primal, so the above is a scene-setter for, and possibly, an explanation of, the origins of more complex religious systems.</p>

    <p>The shift from 'primal' to 'early' religious concepts is almost imperceptible. But when we took that second step and imagined deities to be responsible for elements of the weather like rain, snow, storm, thunder, lightning, or the fertility of the land, sky or sea it was only a short time before extraterrestrial bodies were assigned supernatural powers too: the sun and moon, planets and stars. At this point worship came into being, because worship, in imagining powers greater than its own, generates fear, awe, reverence and respect. These are constituents of every major religion today, and in their manifestation is a mirror in humans' desire to instil fear, awe, reverence and respect in other humans, often, ironically, using religion.</p>

    <p>Today, a ‘god’ or divinity is generally described as a supernatural being or power, the object of worship. That divinity is generally considered more powerful, superior, than those who worship it. While a few theologies and mythologies accept divinities as hermaphrodite or with no discernible sexual orientation, in the majority of cases divinities are either male or female, gods or goddesses. The worship of goddesses is, in this present age, a minority trend; the world’s major active religions have at their centre male divinities or originators (e.g. Buddha, Zoroaster, Shiva, Vishnu, Allah, Yahweh, God and Jesus Christ) though most acknowledge and revere female entities in one form or another, whether or not they attribute these entities with divinity.</p>

    <p>Several belief systems acknowledge a supreme divinity, denying the existence of minor entities.  These include Christianity, Judaism and Islam. Monotheistic systems are a recent phenomenon relative to the history of religion, however. In early and primitive religions (classical Egyptian, Greek and Roman, Hindu and Germanic myth systems, for instance) the tendency is towards polytheism, often with a supreme – and usually benevolent, though not faultless – god at the head of a pantheon of minor gods and goddesses with a variety of characteristics, responsibilities and powers. Many African pantheons and several South American ones posit a creator god who is now no longer interested in his creation.</p>

    <p>The dualistic concept of ‘good’ and ‘evil’ divinities is not quite as old as mankind. The idea that a supreme god must, by definition, transcend such concepts and therefore be both, has taxed theosophers for thousands of years and led to a variety of explanations for this apparent contradiction. It may discredit the theory that mankind was originally monotheistic, and fell into ‘decadent’ or ‘pagan’ polytheism. Two disparate examples of this dichotomy can be found in ancient Mithraism and in medieval Catharism.</p>

    <p>Nationhood appears to be sustained by monotheism and weakened by polytheism – though it could equally be argued that monotheism and polytheism are phenomena, markers, gauges of a nation’s age and health, rather than the forces that drive it. If you believe this, however, beware Hinduism, with the oldest scriptures in the world, three major deities and a fabulous polytheism and pantheon that attracts more than 400 million worshippers. (Hinduism's intellectuals, it should be noted, consider their faith to be monotheistic.)</p>

    <p>It is this site’s intention to provide a alphabetical catalogue or dictionary of those higher powers, in the form in which they ally themselves with their geographical or societal origins, and with as many variations of their known names as possible, and to cross-reference them where attributes of those powers appear to merit it.</p>

    <p>I have followed conventional categorisation of religions or groups of religions. These are split into sects only if a sect sponsors its own deity.  Christian sects, for instance, no matter how different their belief systems, rarely deny the existence of a father God, son Jesus, and a discarnate force for good known as the Holy Spirit, while primal religions often boast a supreme deity and many subsidiary deities specific to a tribe, village or location.</p>

    <p>For clarity’s sake, certain conventions accepted by most theological and anthropological studies have had to be adopted in terms of categorisation. Though I do not distinguish between 'primal' and world' religious systems in the body copy, I will note here that a 'primal' system has a limited pantheon or possibly a small family of deities, a limited number of myths and narratives and a close attachment to locality – and 'world' would indicate an adaptive, transferable and complex system of beliefs, narratives and concepts not limited to nationality or geography.</p>

    <p>I think it fatuous and self-evident to categorise deities this way in the encyclopaedia, and it doesn't happen: instead, we usually start with 'Origin:' and a geographical area. 'Africa' is followed by a more specific area –  Nigeria, Zimbabwe, for instance. If the religious system is, to all intents and purposes, 'dead' I will often give the area of origin the name by which it was known when the religion was 'alive', and in these cases, you are referred to the glossary/appendix area chaptered 'Systems'.</p>

    <p>Nor is it necessary to distinguish each deity as belonging to an ‘ancient’ or ‘living’ religion. Who knows if Thor or Thoth, Persephone or Paris are still worshipped in some remote community? But we may take it that members of the Egyptian, Assyrian, Germanic, Greek and Roman pantheons are ‘ancient’ and that Yahweh,  Brahma, Christ and Allah are ‘living’ deities.</p>

    <p>Deities are troublesome creatures to categorise at the best of times. Many have nominal links through more than one culture. Hundreds are perceived as deities by some, as saints or gurus or sages by others. Some see Buddha as God; mainstream Buddhists, however, see Gautama as an historical person whose understanding of life is the ultimate enlightenment. Hinduism is a way of life, not a religion, despite its colourful panoply of deities and intricate wealth of legends about them. And Judaism, while holding absolutely to the concept of one omnipotent deity, is a religion based historically and currently on a personal, family and national 'contract' with that God.</p>

    <p>Many of the best-known pantheons – the Egyptian, Greek, Roman and Germanic/Norse, for instance – create for the cataloguer another complex problem. Their deities are constantly meddling in human affairs, and these encounters spawn a host of creatures who might be gods, demigods, demons, angels heroes, monsters or mortals or a mix of two or more.</p>

    <p>Religious systems are notoriously difficult to categorise. Should the yardstick be predominantly geographical, linguistic or cultural – that is, linked to the period of history in which the belief system was active?  Religious systems do not lend themselves to racial distinctions, since they over-ride any notions we might have of 'race', largely due to successive waves of invasion, conquest and assimilation. We now know that all these have minimal effect on genetic heritage, even if genetic heritage could be seen as indicative of 'race', which, of course, it can't.</p>

    <p>I have made an attempt at clarifying some of the religious systems by ball-parking their era, peak of influence and general geographical location in the section called 'SYSTEMS'.  I have also shunted sideways into the 'GLOSSARY' generic terms and categorisations, where you will find definitions of such things as nymphs, demons and nereids, and terms such as 'conflate', 'cognate' and 'chthonic'.</p>

    <p>I have decided to list as discrete entities any religious system that has an evident pantheon, or group of distinctive deities, since those pantheons almost always produce a mythology. Or does the myth system produce the pantheon? Both are arguable.</p>

    <p>I use the abbreviations MIN (More Information Needed) or, simply, MORE, and CN (Citation Needed) where necessary at the end of an entry. Please take this as an invitation to submit material and/or suggestions, additions and/or corrections and/or alternative or clearer ways of describing a deity or system: in my own time I will consider all contributions and, if a contributor's material is used, I will acknowledge it by inserting the contributor's initials or some other form of recognition, if the contributor so wishes – so please specify how you would prefer to be acknowledged. I can not promise that all contributions will be used.</p>

    <h3>Footnote: The Phrase 'Ye Gods' Explained</h3>

    <p>The phrase 'Ye Gods!' was first recorded in 1761 by biographer James Boswell: “It is Captain Andrew! it is! it is! Ye gods, he seizes! he opens! he reads!”.</p>

    <p>The use of the word 'ye' in this context could be argued two ways. 'Ye' is still used in Scotland as a form of address to more than one person, and was a Middle English (or in Boswell's case, Early Modern English) form of addressing one's equal or superior. So 'Ye gods' could be 'you deities!'.</p>

    <p>Alternatively, 'Ye gods' could simply be 'The gods'. Early printers didn't have a letter known as a thorn. It looks like this: Þ . Its sound was the 'th' of 'the'. The nearest letter they had was a 'y'. So technically there is no such pronunciation as 'Ye' (the 'Y' as in 'yellow').</p>

    <h3>NOTE ON PRONUNCIATION AND SPELLING</h3>

    <p>
      This is based on Manfred Lurker's 1984 introduction, though I've added further simplifications of my own.
    </p>

    <p>
      The Greek pantheon's father of Zeus is the Titan 'Kronos' – but to most 'English' readers he is 'Cronus'. Which should I choose?  I choose Cronus – but Kronos will appear immediately afterwards. And so it will be with VISHNA (VŠN) Krishna (KRŠN) and so on. Sanskrit-based pronunciation carries forward into many Hindu deity names ending in 'N', which is heavily aspirated.
    </p>

    <p>
      Sanskrit/Vedic, Near Eastern, Egyptian, Lithuanian and Latvian deities' names often contain a 'sh' sound which I represent with a ' Š ' . In Yoruba and Kalash, 'sh' is represented by a Ṣ
    </p>

    <p>
      Clarification of my own Greek and Latin English forms in general currency are used instead of their Greek or Latin equivalents: thus, Jupiter for Iup(p)iter, Centaurs, Nymphs, etc. Apart from these special cases, Greek and Latin names are taken as in the original German text, with changes in spelling where necessary. Head-words in the original text carry stress-marks based on: H. Hunger, Lexikon der griechischen und römischen Mythologie, 6th edn, 1969. These are retained. 2 Sanskrit and Vedic Standard transcription is used for Sanskrit and Vedic names, based on Macdonell, Sanskrit-English Dictionary, OUP, 1924. The distinction between the dental series: t, d, n, s; the retroflex series: t, d, j, s; and the palatal series: c, j, ñ, f, has been retained. Here, s and f are both pronounced as sh; t, d, j are the same sounds as are heard in English t, d, n; t, d, n are their continental counterparts (as in Italian); ñ is the Spanish ñ.
    </p>

    <p>
      For Chinese names the modern pinyin romanization has been used, though tone marks have been disregarded; x is something like the sh in ship, q is like the ch in cheese (and is rarely followed by a 'u' as in English); p, t, k are heavily aspirated; b, d, g are not voiced.
    </p>

    <p>
      Wherever it occurs, Ž is pronounced as j in French ‘journal’.
    </p>

    <p>In Aztec and Maya names, c before e and i = s; before a, o, u = k.</p>
  </section>
</div>
