@{
  Layout = "_Layout";
}

<div class="content-page">
  <header>
    <div class="breadcrumbs">
      <a asp-controller="Home" asp-action="Index" class="breadcrumb__item">Home</a> /
      <a asp-controller="Home" asp-action="Acknowledgements" class="breadcrumb__item">Acknowledgements</a>
    </div>
    <h1 class="deity-name h1__white">Acknowledgements</h1>
  </header>

  <section class="main-content">
    <p>I NEED to make one fact clear from the outset: this work is not original. No fieldwork has been involved. Though I have physically travelled the road to and from Damascus, no bright lights assailed me then, nor have they since. I can't claim to have discovered a single hitherto unknown deity. Unknown, that is, to the world at large: all deities by definition are known to some group of people somewhere.</p>

    <p>YeGods is an assembly from literally hundreds of sources, from Encyclopaedia Britannica – whose Macro- and Micropaedia pages which I ploughed mercilessly in the 1980s when YeGods was just getting started – to some of the more radical feminist, astrological or mystical sites now available at the drop of a wizard's hat.</p>

    <p>Encyclopaedia Britannica's contributors' collective scholarship is reliable and beyond reproach – though here as everywhere, I discover infrequently, there are traps. Nothing in this world, and especially in the world of deities, is closed to interpretation. Or, if you like, misinterpretation.</p>

    <p>Below, I list my major sources. The most ubiquitous search engine for these must be Wikipedia, the free-access, free content internet encyclopaedia, launched by Jimmy Wales and Larry Sanger in 2001. Without Wikipedia, Ye Gods could not have come into existence in its present form. I owe these lads and their vast tribe of editors a huge debt of gratitude.</p>

    <p>Thanks also to:</p>

    <p>Micha F Lindemans and staff, particularly James Hunter, whose sane and sober research in Encyclopedia Mythica (www.pantheon.org) website has repeatedly proved both invaluable source material and a reliable check against other sources. Acknowledged in the script as (MFL) or (EM)</p>

    <p>Michael Jordan's Encyclopedia Of Gods (1993) which mutated into first and second editions of  Dictionary Of Gods And Goddesses (2004), covers much the same ground as my Ye Gods, but I have many more entries! His sterling research and full bibliography, though, has on many occasions saved me from reinventing the wheel. He is recognised in the text by 'MJ'</p>

    <p>Manfred Lurker's Routledge Dictionary of Gods and Goddesses, Devils and Demons is recognised in the text when my source is uniquely his.</p>

    <p>The Oxford Companion to World Mythology</p>

    <p>www.geocities.com, now sadly defunct except in Japan, was a valuable resource.</p>

    <p>Brian Griffiths: 'Chinese Goddess Cults'</p>

    <p>Commonsenseatheism.com, a site now closed except for archival material</p>

    <p>Ella Elizabeth Clark – Indian Legends of Canada</p>

    <p>inanna.virtualove.net.menu/html The Shrine of the Forgotten Goddesses</p>

    <p>The Wordsworth Dictionary of Beliefs and Religions</p>

    <p>The Witches' Collective</p>

    <p>www.mythologydictionary.com,  a well-endowed source of information on numerous obscure deities</p>

    <p>www.jameswbell.com for Sumerian/Mesopotamian deities</p>

    <p>http://iroqoisindians.freeweb-hosting.com for the Haudenosaunee pantheon of the Iroquois Indian tribal confederacy of northern US/southern Canada</p>

    <p>www.godfinder.com, now apparently defunct.</p>

    <p>www.godfinder.org's Table of Gods: largely one-liner entries that have instigated numerous more detailed searches</p>

    <p>www.godchecker.com: run since 1999 by Peter J Allen and Chas Saunders, an irreverent look at more than 4,000 worldwide deities and a valuable start-point for me for many an obscure spiritual being</p>

    <p>www.janeraeburn.com for the names of Celtic deities, and the Celtic Gods and Goddesses website</p>

    <p>Deities of the Religio Romana (home.scarlet.be/mauk.haemers/collegium_religions/deities/htm, by M Horatius Piscinus, of the Societas Via Romana</p>

    <p>Molly Kalafut for material on the Finnish and Norse pantheons</p>

    <p>For the  basis of the Samoan entries, my thanks to Edward Wozniak/ Balladeer's Blog</p>

    <p>Lucille at behindthename.com for Elamite deities</p>
  </section>
</div>
