<div class="content-page">
  <header>
    <div class="breadcrumbs">
      <a asp-controller="Home" asp-action="Index" class="breadcrumb__item">Home</a> /
      <a asp-controller="Home" asp-action="Glossary" class="breadcrumb__item">Contribute</a>
    </div>
    <h1 class="deity-name h1__white">How to contribute?</h1>
  </header>

  <section class="main-content" id="contribute-info">
    <p>
      Thank you <strong>very much</strong> for wanting to contribute to YeGods. This website is a work in progress and there is a lot that can be improved. So feedback from visitors such as yourself is always welcome.
    </p>
    
    <p>So how can you help?</p>
    
    <p>You can report errors on the entries you come across on the site. We'll get an email and action the corrections accordingly.</p>
    
    <p>Or you can also <a asp-controller="Home" asp-action="SuggestEntry">send us deities and belief systems</a> we have missed. Just make sure you include all your sources for the information too.</p>
    
    <p>Thank you once again.</p>
  </section>
</div>
