@{
  Layout = "_Layout";
}

<div class="content-page">
  <header>
    <div class="breadcrumbs">
      <a asp-controller="Home" asp-action="Index" class="breadcrumb__item">Home</a> /
      <a asp-controller="Home" asp-action="PrivacyPolicy" class="breadcrumb__item">Privacy Policy</a>
    </div>
    <h1 class="deity-name h1__white"> Privacy Policy and Disclaimers</h1>
  </header>

  <section class="main-content">
    <p>
      The following are the terms and conditions of use of this website and its services. If you do not accept these conditions, you must not use this website or services.
    </p>

    <p>
      The content on this website is provided ‘as is’, and I give no representation or warranty as to the accuracy of the content and assume no responsibility for errors or omissions in it or the effect it has on your computer. This site includes links to other sites on the Internet. I can't vouch for the suitability or accuracy of the content of those sites and so you use them at your own risk. Any references to linked sites or to third-party companies, products or services by name does not constitute or infer its endorsement by me.
    </p>

    <p>The information available on the site might from time to time be incomplete, out of date or inaccurate. I reserve the right at any time and without prior notice to make changes and corrections to the material on the site or to make parts or all of this site unavailable at any time without notice.</p>

    <p>I disclaim all liability in respect of all information and its provision, and shall not be liable for any loss or damages suffered as a result of any use of the site. Although I aim to keep it up-to-date, I cannot guarantee its accuracy. Though I try to make this site as useful as possible, none of the material it contains is professional advice or a substitute for it, and can not be relied upon as such.</p>

    <p>Unless specified to the contrary, the contents of this website and these pages are protected by copyright. The authors and creators of the material on the website assert their moral rights. The contents of this website (including text, design and graphics) are my trademarked and copyrighted materials. All rights are reserved. They may not be used, transmitted or reproduced unless in accordance with prior written instructions issued by me. No use, transmission or reproduction is permitted other than the following:</p>

    <p>Permission is given for the downloading and temporary storage of pages where indicated on such pages, for the sole purpose of individual viewing on a stand-alone PC or monitor. Such pages may be printed, but these may not be further reproduced, copied or transmitted in any way to those other than the initial individual user. You may not reproduce any other part of the website including, but not limited to, the structure, overall style and program code.</p>

    <p>These conditions of use are governed by English law and any dispute connected with this site is subject to the exclusive jurisdiction of the English courts. I may change these conditions of use from time to time. You will be bound by changes even if you do not re-visit this page to re-read this notice.</p>
  </section>
</div>
